{% load static i18n %}

<link rel="stylesheet" href="{% static 'wichtel/styles.css' %}">

<body>
    <header>
        <nav>
            <a href="/"><img alt="WICHTEL.app" src="{% static 'wichtel/images/android-chrome-512x512.png' %}" height="70"></a>
            <ul>
                <li><a href="{% url 'account_login' %}">Login</a></li>
            </ul>
        </nav>
        <h1>Login Code eingeben</h1>
        {% if messages %}
            <aside>
            {% for message in messages %}
                <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
            </aside>
        {% endif %}
        {% if not messages %}
            <p>
                Wir haben einen Login Code an <a href="mailto:{{ email }}">{{ email }}</a> geschickt! Bitte gib ihn ein, um Dich einzuloggen.
            </p>
        {% endif %}
        <form method="post" action="{% url 'account_confirm_login_code' %}">
            {% csrf_token %}
            {{ verify_form.code }}
            {{ verify_form.code.errors }}
            {{ redirect_field }}
            <button type="submit">Senden</button>
        </form>
    </header>
</body>
