{% extends "wichtel/base.html" %}

{% block title %} - Geschenkliste{% endblock %}

{% block nav %}
  <li><a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a></li>
{% endblock %}

{% block nav_extra %}
  <form id="logout-form" method="post" action="{% url 'account_logout' %}" hidden>
    {% csrf_token %}
  </form>
{% endblock %}

{% block header %}
  <h1>
    Hey <mark><em>{{ user.username|capfirst }}</em></mark> — Du hast die <mark><em>{{ code_name }}</em></mark> gezogen! 🎉
  </h1>
  <p>
    📬 Dein Geschenk wird in <strong>{{ address }}</strong> sehnsüchtig erwartet.
  </p>
{% endblock %}

{% block content %}
  <main>
    <hr>
    <article>
      <h2>Die Wunschliste der <mark><em>{{ code_name }}</em></mark></h2>
      {{ giftlist.text|linebreaks|urlizetrunc:40 }}
    </article>
  </main>
  <footer>
    <hr>
    <p>Viel Spass beim Beschenken! 🎁</p>
  </footer>
{% endblock %}
