{% extends "wichtel/base.html" %}

{% block title %} - Geschenkliste{% endblock %}

{% block header %}
  <h1>
    Hey <em>{{ user.username|capfirst }}</em> — Du hast die <mark><em>{{ code_name }}</em></mark> gezogen! 🎉
  </h1>
  <p>
    📬 Dein Geschenk wird in <strong>{{ address }}</strong> sehnsüchtig erwartet.
  </p>
{% endblock %}

{% block content %}
  <main>
    <hr>
    <article>
      <h2>Die Wunschliste der <mark><em>{{ code_name }}</em></mark></h2>
      {{ giftlist.text|linebreaks|urlize }}
    </article>
  </main>
  <footer>
    <hr>
    <p>Viel Spass beim Beschenken! 🎁</p>
  </footer>
{% endblock %}
